@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #585757;
  line-height: 1;
  font-family: "Inter";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 73.125rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
@media (any-hover: hover) {
  .yyy:hover {
    fill: pink;
  }
}

.wrapper {
  padding: 50px 50px;
  background-color: #0085FF;
}

.page-content {
  background: #F7F7F7;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 80px 1fr;
  flex: 1 1 auto;
  column-gap: 24px;
  grid-template-areas: "aside header" "aside main";
}
.page-content header {
  grid-area: header;
  background: #237864;
}
.page-content aside {
  grid-area: aside;
}
.page-content main {
  grid-area: main;
  padding: 20px 50px;
}

.aside {
  background: #FFF;
  padding: 28px 12px;
}
.aside__header {
  display: flex;
  gap: 16px;
}
.aside__menu:not(:last-child) {
  margin-bottom: 28px;
}

.header-aside__logo {
  padding: 12px;
  flex: 0 0 56px;
  height: 56px;
  border: 1px solid #E8E8E8;
  border-radius: 8px;
}
.header-aside__icon {
  width: 30px;
  height: 29px;
}
.header-aside__texts {
  margin-bottom: 26px;
}
.header-aside__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #1C1C1C;
}
.header-aside__text {
  line-height: 24px;
  color: #969696;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #969696;
}

.menu-aside__title {
  margin-bottom: 12px;
  padding-left: 12px;
}
.menu-aside__link {
  width: 100%;
  display: flex;
  padding: 10px 12px;
  align-items: center;
  gap: 12px;
  transition: all 0.3s ease 0s;
  position: relative;
}
@media (any-hover: hover) {
  .menu-aside__link:hover {
    background: linear-gradient(0deg, rgba(0, 133, 255, 0.1), rgba(0, 133, 255, 0.1)), #FFFFFF;
    border-radius: 8px;
  }
  .menu-aside__link:hover .menu-aside__icon {
    fill: #0085FF;
  }
}
.menu-aside__link_arr::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 43%;
  right: 15px;
  background: url(/0e716f821b6a63746f4e.svg) 0 0 no-repeat;
}
.menu-aside .menu-aside__link_num {
  position: relative;
}
.menu-aside__icon {
  flex: 0 0 18px;
  height: 18px;
  transition: all 0.3s ease 0s;
}
.menu-aside__num {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0px, -50%) rotate(0deg) scale(1) skew(0, 0);
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  color: #fff;
  padding: 2px 4px;
  text-transform: uppercase;
  background: #0085FF;
  border-radius: 5px;
}

.page-content__main {
  padding: 20px;
}

.menu-aside__table {
  border: 1px solid;
}

.main-table {
  display: inline-grid;
  grid-template-rows: 70px 100px;
}
@media (min-width: 105em) {
  .main-table__txt-hidden {
    display: none;
  }
}
.main-table__titles {
  display: grid;
  grid-template-columns: 150px minmax(100px, 300px) minmax(110px, 300px) minmax(100px, 200px) minmax(100px, 200px) minmax(100px, 200px);
}
.main-table__title {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
}
@media (max-width: 105em) {
  .main-table__title_1 {
    grid-column: span 2;
  }
}
@media (max-width: 105em) {
  .main-table__title_2 {
    grid-column: span 2;
  }
}
@media (max-width: 105em) {
  .main-table__title_3 {
    grid-column: span 2;
  }
}
.main-table__title span {
  padding: 5px;
}
.main-table__title:not(:last-child) {
  border-right: 1px solid;
}
@media (max-width: 105em) {
  .main-table__pc-title {
    display: none;
  }
}
@media (min-width: 105em) {
  .main-table__mob-title {
    display: none;
  }
}
.main-table__body {
  display: grid;
  grid-template-columns: 150px minmax(100px, 300px) minmax(110px, 300px) minmax(100px, 200px) minmax(100px, 200px) minmax(100px, 200px);
}
.main-table__txt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
@media (max-width: 105em) {
  .main-table__txt {
    grid-column: span 2;
  }
}
.main-table__txt span {
  padding: 5px;
}
.main-table__txt:not(:last-child) {
  border-right: 1px solid;
}
.main-table__col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
@media (max-width: 105em) {
  .main-table__col_2 {
    grid-column: span 2;
  }
}
@media (max-width: 105em) {
  .main-table__col_1 {
    grid-column: span 2;
  }
}
.main-table__col span {
  padding: 5px;
}
.main-table__col:not(:last-child) {
  border-right: 1px solid;
}
@media (min-width: 105em) {
  .main-table__col-hidden {
    display: none;
  }
}
@media (max-width: 105em) {
  .main-table__title-del {
    display: none;
  }
}
@media (max-width: 105em) {
  .main-table__title_del {
    display: none;
  }
}

@media (max-width: 105em) {
  .main-table__col_del {
    display: none;
  }
}

.table-content {
  padding: 10px;
  background: lightgrey;
  border-collapse: collapse;
  border-spacing: 45px;
  max-width: 800px;
}
.table-content__title {
  background: #389e77;
  padding: 5px;
  border-style: solid;
  border-width: 0px 1px 1px 0px;
}
.table-content__text {
  background: #0085FF;
  padding: 10px;
  color: #fff;
  border-style: solid;
  border-width: 0px 1px 1px 0px;
}
